*{
    padding:0px;
    margin:0px;
    background-color: rgb(240, 251, 255);
}

body{
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template: 100px 500px 150px/ 200px 3fr 1fr;
    grid-template-areas: "header header header"
                        "nav main aside"
                        "footer footer footer";
                    
}

header{
    grid-area: header;
    text-align: center;
    padding-top: 30px;
    font-weight: bold;
    font-size: 35px;
    border-bottom:0.5px solid;
}

nav{
    grid-area: nav;
    border-right: 0.5px solid;
}

.nav{
    font-size: 20px;
    font-weight: bold;
    padding-top: 50px;
    padding-left: 20px;
}

main{
    grid-area: main;
    padding-left: 50px;
    padding-right: 20px;
    padding-top: 50px;
}

aside{
    grid-area: aside;
    border-left: 0.5px solid;
    text-align: center;
    padding-top: 50px;
}

footer{
    grid-area: footer;
    border-top: 0.5px solid;
    text-align: center;
    padding-top: 30px;
}

ol{
    padding-top: 30px;
    padding-left: 35px;
}