*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    display: grid;
    grid-template-columns: 60% 40%;
    background-color: rgb(226, 238, 244);
    height: 400px;
}

.header-logo{
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
}

.title{
    font-size: 50px;
    padding-left: 30px;
    padding-top: 80px;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
}

.main-text{
    padding-top: 100px;
    padding-left: 30px;
}

.body{
    padding: 50%;
}

.header-logo img{
    height: 50px;
}

.back{
    height: 400px;
    opacity: 25%;
}

.front{
    position: absolute;
    height: 550px;
    z-index: 1;
    left: 850px; 
    bottom: 250px;
}

.vl{
    font-size: 50px;
    font-weight: 100px;
}

.green{
    color: rgb(68, 182, 68);
}

.blue{
    color: rgb(83, 134, 145);
}

.footer1 img{
    height: 100px;
}

.footer2 img{
    height: 50px;
}

.footer3 img{
    height: 50px;
}

.footer1{
    padding-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
}

.footer2{
    padding-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
}

.footer3{
    padding-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    padding-bottom: 50px;
}