*{
    padding:0;
    margin:0;
}

body{
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100%;
    grid-template-rows: 100px auto;
}

.title{
    grid-row: 1;
    font-weight: bold;
    font-size: larger;
    border-bottom: 0.5px solid;
}

.chess-board{
    grid-row: 2;
    display: grid;
    height: 400px;
    width: 400px;
    grid-template: repeat(8,50px)/repeat(8,50px);
    border: 5px solid;
}

.white{
    background-color: rgb(255, 255, 255);
}

.black{
    background-color: black;
}